<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>

    </script>
  </head>
  <body>
    <div id="react-app" class="background"></div>
  </body>
</html>
